{% extends '::base.html.twig' %}
{% block body %}
    <p>
        Janus is a headless application used as part of a suite of applications for the <a href="http://www.ice.cam.ac.uk">
            Institute of Continuing Education</a>, part of the University of Cambridge.
    </p>
    <p>
        It is developed and managed by the the Web Services team in the University's Management Information Services Division. Contact Rob Hogan.
    </p>
{% endblock %}