imports:
    - { resource: config.yml }

#doctrine:
#    orm:
#        metadata_cache_driver: apc
#        result_cache_driver: apc
#        query_cache_driver: apc

monolog:
    handlers:
        main:
            type:         fingers_crossed
            action_level: error
            handler:      nested
        nested:
            type:  stream
            path:  "%kernel.logs_dir%/%kernel.environment%.log"
            level: debug
        mailer:
            type: stream
            path: "%kernel.logs_dir%/%kernel.environment%.mailer.log"
            channels: mailer
            level: error

#IceMercuryClient configuration
ice_mercury_client:
    base_url: https://mercury.ice.cam.ac.uk/api/

#IceMinervaClient configuration
ice_minerva_client:
    base_url: https://minerva.ice.cam.ac.uk/

#IceVeritasClient configuration
ice_veritas_client:
    base_url: https://veritas.ice.cam.ac.uk/api/