parameters:
    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       localhost
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    minerva_api_username: minerva
    minerva_api_password: password
    mercury_api_username: mercury
    mercury_api_password: password
    janus_api_username: janus
    janus_api_password: password
    veritas_api_username: veritas
    veritas_api_password: password