<p>Thank you for your application for the course: {{ course.title }}. We note you would also like to be considered for the Ivy Rose Hood bursary.</p>
<p>
{% include "IceMailerBundle:CourseApplication:application.consideration.html.twig"
with { 'plainText': false, 'defaultMsg': 'Applications for the Ivy Rose Hood bursary will be considered after Thursday 24<sup>th</sup> July 2014. We will then advise you of the outcome of both your course and bursary applications.' } %}
</p>
<p>Please note that this not a distance learning course and that regular attendance at classes in Cambridge throughout the academic year is required.</p>

<p>International students<br/>If you are applying from overseas you may need to apply for a visa that is appropriate for studying part-time in the UK in order to attend the course. Please note that we are unable to offer a refund if you book your place but are unable to obtain the required visa. More information can be found <a href="http://www.ice.cam.ac.uk/studying-with-us/international-students">on our website</a>.</p>

<p>Student loans<br/>If you have applied for a student loan, please send us a copy of your Student Entitlement Letter as soon as possible. We cannot consider your application until this has been received.</p>

<p>If you have any questions about your application, please contact our Admissions team on +44 (0)1223 746262 or <a href="mailto:ice.admissions@ice.cam.ac.uk">ice.admissions@ice.cam.ac.uk</a></p>