<p>Thank you for your application for the course: {{ course.title }}. We note you have also applied for a bursary for this course.</p>
<p>Your bursary application will be considered together with your course application, and we will contact you within two to four weeks unless stated otherwise on our website.</p>
<p>Should you be successful, we will send you instructions regarding booking your place on the course. Please note: Places are allocated on a first-come, first-served basis and your place on the course is not guaranteed until you have completed your booking.</p>
<p>Please note that this not a distance learning course and that regular attendance at classes in Cambridge throughout the academic year is required.</p>
<p>International students<br/>If you are applying from overseas you may need to apply for a visa that is appropriate for studying part-time in the UK in order to attend the course. Please note that we are unable to offer a refund if you book your place but are unable to obtain the required visa. More information can be found <a href="http://www.ice.cam.ac.uk/studying-with-us/international-students">on our website</a>.</p>

<p>Student loans<br/>If you have applied for a student loan, please send us a copy of your Student Entitlement Letter as soon as possible. We cannot consider your application until this has been received.</p>
<p>If you have any questions about your application, please contact our Admissions team on +44 (0)1223 746262 or <a href="mailto:ice.admissions@ice.cam.ac.uk">ice.admissions@ice.cam.ac.uk</a></p>